.prosec-outer {
  padding: 0px 44px 174px;
}

.prosec-title {
  margin-top: -70px;
  max-width: 1464px;
  h1 {
    font-size: 112px;
    color: #00b900;
    font-weight: 200;
  }
}

.prosec-part1 {
  margin-top: 52px;
}

.prosec-part1,
.prosec-part3,
.prosec-part5 {
  display: flex;
  justify-content: center;
  gap: 46px;

  .prosec-gridItem {
    width: calc(52% - 46px);
    height: 702px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.prosec-part2,
.prosec-part4 {
  margin-top: 58px;
  display: grid;
  grid-template-columns: 65% 14.75% 14.75%;
  grid-template-areas: "grid_1 grid_2 grid_3";
  gap: 48px;

  .prosec-gridItem-1 {
    grid-area: grid_1;
    height: 947px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .prosec-gridItem-2,
  .prosec-gridItem-3 {
    height: 947px;

    p {
      color: #333333;
      font-size: 28px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .prosec-gridItem-2 {
    grid-area: grid_2;
  }

  .prosec-gridItem-3 {
    grid-area: grid_3;
    p {
      font-size: 21px;
    }
  }
}

.prosec-part3 {
  margin-top: 52px;
}

.prosec-part4 {
  display: grid;
  grid-template-columns: 15% 15% 65%;
  grid-template-areas:
    "grid_3 grid_3 grid_1"
    "grid_2 grid_2 grid_1";
  gap: 48px;

  .prosec-gridItem-2,
  .prosec-gridItem-3 {
    height: calc(947px / 2 - 24px);
  }
}

.prosec-part5 {
  margin-top: 52px;
}

@media (max-width: 1750px) {
  .prosec-title {
    h1 {
      font-size: 105px;
    }
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    .prosec-gridItem {
      height: 682px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 900px;
    }
  }

  .prosec-part4 {
    gap: 40px;
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: calc(900px / 2 - 20px);
    }
  }
}

@media (max-width: 1650px) {
  .prosec-title {
    h1 {
      font-size: 100px;
    }
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    .prosec-gridItem {
      height: 622px;
    }
  }
  .prosec-part2 {
    gap: 35px;
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 850px;
      p {
        color: #333333;
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .prosec-title {
    margin-top: -70px;
    h1 {
      font-size: 90px;
    }
  }
}

@media (max-width: 1550px) {
  .prosec-title {
    h1 {
      font-size: 85px;
    }
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    .prosec-gridItem {
      height: 550px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    margin-top: 35px;
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 800px;
      p {
        font-size: 24px;
      }
    }
    .prosec-gridItem-3 {
      p {
        font-size: 18px;
      }
    }
  }

  .prosec-part4 {
    grid-template-columns: 15% 15% calc(65% - 20px / 2);
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: calc(800px / 2 - 20px);
    }
  }

  .prosec-part5,
  .prosec-part3 {
    margin-top: 35px;
  }
}

@media (max-width: 1450px) {
  .prosec-outer {
    padding: 0px 40px 134;
  }
  .prosec-title {
    margin-top: -70px;
    h1 {
      font-size: 75px;
    }
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    gap: 35px;
    .prosec-gridItem {
      height: 500px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    gap: 35px;
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 675px;
      p {
        font-size: 22px;
      }
    }
    .prosec-gridItem-3 {
      p {
        font-size: 18px;
      }
    }
  }

  .prosec-part4 {
    gap: 35px;
    grid-template-columns: 15% 15% calc(65% - 35px / 4);
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: calc(675px / 2 - 35px / 2);
    }
  }
}

@media (max-width: 1350px) {
  .prosec-outer {
    padding: 0px 35px 124px;
  }
  .prosec-title {
    h1 {
      font-size: 70px;
    }
  }
}

@media (max-width: 1250px) {
  .prosec-outer {
    padding: 0px 35px 124px;
  }
  .prosec-title {
    margin-top: -70px;
    h1 {
      font-size: 65px;
    }
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    gap: 30px;
    .prosec-gridItem {
      width: 50%;
      height: 450px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    gap: 30px;
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 600px;
      p {
        font-size: 18px;
      }
    }
    .prosec-gridItem-3 {
      p {
        font-size: 16px;
      }
    }
  }

  .prosec-part4 {
    gap: 30px;
    grid-template-columns: 15% 15% calc(65% - 30px / 4);
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: calc(600px / 2 - 30px / 2);
    }
  }
}

@media (max-width: 1150px) {
  .prosec-title {
    margin-top: -85px;
  }
  .prosec-part1,
  .prosec-part3,
  .prosec-part5 {
    .prosec-gridItem {
      width: 50%;
      height: 400px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: 550px;
    }
  }

  .prosec-part4 {
    gap: 30px;
    grid-template-columns: 15% 15% calc(65% - 30px / 4);
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: calc(550px / 2 - 30px / 2);
    }
  }
}

@media (max-width: 1050px) {
  .prosec-outer {
    padding: 00px 30px 86px;
  }

  .prosec-title {
    h1 {
      font-size: 62px;
    }
  }

  .prosec-part1 {
    margin-top: 29px;
  }

  .prosec-part1,
  .prosec-part3 {
    display: flex;
    flex-direction: column;
    gap: 29px;

    .prosec-gridItem {
      width: 100%;
      height: 600px;
    }
  }

  .prosec-part2 {
    margin-top: 38px;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-areas:
      "grid_2"
      "grid_1"
      "grid_3";

    .prosec-gridItem-1,
    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      width: 100%;
      height: auto;
    }

    .prosec-gridItem-1 {
      height: 600px;
    }
  }

  .prosec-part3 {
    margin-top: 38px;
  }

  .prosec-part4 {
    margin-top: 38px;
    display: grid;
    grid-template-columns: calc(50% - 28px) 50% 50%;
    grid-template-areas:
      "grid_1 grid_1"
      "grid_3 grid_2";
    gap: 28px;

    .prosec-gridItem-1 {
      height: 600px;
    }

    .prosec-gridItem-2,
    .prosec-gridItem-3 {
      height: auto;
    }
  }

  .prosec-part5 {
    display: none;
  }
}

@media (max-width: 850px) {
  .prosec-outer {
    padding: 0px 25px 124px;
  }

  .prosec-title {
    margin-top: 0px;
    h1 {
      font-size: 62px;
    }
  }

  .prosec-part1,
  .prosec-part3 {
    .prosec-gridItem {
      height: 516px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1 {
      height: 516px;
    }
  }
}

@media (max-width: 650px) {
  .prosec-outer {
    padding: 0px 25px 124px;
  }

  .prosec-title {
    h1 {
      font-size: 45px;
    }
  }

  .prosec-part1,
  .prosec-part3 {
    .prosec-gridItem {
      height: 416px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1 {
      height: 416px;
    }
  }
}

@media (max-width: 550px) {
  .prosec-part1,
  .prosec-part3 {
    .prosec-gridItem {
      height: 375px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1 {
      height: 375px;
    }
  }
}

@media (max-width: 460px) {
  .prosec-outer {
    padding: 0px 20px 86px;
  }

  .prosec-title {
    h1 {
      font-size: 42px;
    }
  }

  .prosec-part1,
  .prosec-part3 {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .prosec-gridItem {
      width: 100%;
      height: 325px;
    }
  }

  .prosec-part2 {
    margin-top: 19px;
    gap: 19px;
    .prosec-gridItem-1 {
      height: 325px;
    }
  }

  .prosec-part3 {
    margin-top: 19px;
  }

  .prosec-part4 {
    margin-top: 19px;
    display: grid;
    grid-template-columns: calc(50% - 19px) 50% 50%;
    grid-template-areas:
      "grid_1 grid_1"
      "grid_2 grid_2"
      "grid_3 grid_3";
    gap: 19px;

    .prosec-gridItem-1 {
      height: 325px;
    }

    .prosec-gridItem-3 {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 400px) {
  .prosec-outer {
    padding: 0px 15px 86px;
  }
  .prosec-title {
    h1 {
      font-size: 35px;
    }
  }
  .prosec-part1,
  .prosec-part3 {
    .prosec-gridItem {
      height: 280px;
    }
  }
  .prosec-part2,
  .prosec-part4 {
    .prosec-gridItem-1 {
      height: 280px;
    }
  }
}
